<form action="/dashboard/artists/create/" method="POST" >
<label for="name">Name: </label>
<input type="text"id="name" name="name" placeholder="name">

<label for="isBand">Part of the band:</label>
<input type="checkbox" name="isBand" id="isBand">

<label for="description ">Description: </label>
<textarea name="description" id="description" cols="30" rows="10"></textarea>

<label for="picture">Picture: </label>
<input type="text" id="picture">


<button> Add artist </button>
</form>
